// app global css in SCSS form

body,
html {
  color: $dark;
  overflow: hidden;
}

a {
  color: $primary;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
}

.modal-content-wrapper {
  position: absolute;
  top: 100px;
  bottom: 100px;
  left: 250px;
  right: 60px;
  overflow: hidden;
  z-index: 10;
  height: initial !important;
  width: initial !important;

  @media only screen and (min-device-width: 1280px) and (max-device-width: 1468px) {
    top: 50px;
    bottom: 50px;
  }
}

@import "./reset";
@import "./colors";
@import "./typography";
@import "./helpers";
@import "./quasar-variables";
