// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
*:not(.q-icon) {
  font-family: "Rubik", sans-serif !important;
}
a {
  color: $primary;
  text-decoration: none;
}

body {
  background-color: $accent;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
}

// box-shadow: -8 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
//   0 1px 18px 0 rgb(0 0 0 / 12%) !important;
// border-radius: 6px;

@import "./reset";
@import "./colors";
@import "./typography";
@import "./helpers";
